@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Viaoda+Libre&display=swap");
/* Menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 25px -15px black;
  z-index: 2;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0% 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.menu-selected:before {
  content: "";
  width: 100%;
  height: 4px;
  background: #ff16f4;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
}

.menu nav ul li a {
  color: #777777;
}

.menu nav ul li a:hover {
  color: #ff16f4;
}

.menu .text-menu-selected {
  color: #ff16f4;
}

/* fin menu */
